$accent: #040B35;

.MsgInput {
  width: 600px;
  margin: 0px auto;
  display: grid;
  height: 50px;
  grid-template-columns: 1fr 150px;
  border-top: none; 
  box-shadow: 5px 4px 4px black;  

  h3 {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    background: rgba(255, 255, 255, 0.694);
    border-radius: 5px;
    font-size: 30px;

    a, span {
      font-size: 20px;
    }

    a {
      color: black;
      margin-right: 30px;
      &:active {
        color: black;
      }
    }

    span {
      margin-left: 30px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  input {
    border: none;
  }

  input[type="text"] {
    padding-left: 15px;
    font-size: 22px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  input[type="submit"] {
    background: #CC1B47;
    color: white;
    display: flex;
    font-size: 20px;
    transition: 0.3s;
    border-bottom-right-radius: 5px;    
    border-top-right-radius: 5px;    
    &:hover {
      background: $accent;
    }
  }
}