.Nav {
  display: grid;
  margin: 0px auto;
  justify-content: center;
  
  
  a, span {
    padding: 10px;
    font-size: 20px;
    color: black;
    box-shadow: 5px 4px 4px black;  
    background: #CC1B47;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transition: .5s;
    &:active {
      color: black;
    }

    &.active {
      background: black;
      color: #CC1B47;
    }

    &:nth-child(1) {
      border-left: 1px solid black;
      border-bottom-left-radius: 10px;
    }

    &:nth-last-child(1) {
      border-bottom-right-radius: 10px;
    }
  }

  span {
    cursor: pointer;
    text-decoration: underline;
  }
}