.SignIn {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr;
  margin: 50px auto 0px;
  padding: 0px 30px 20px;
  background: rgba(255, 255, 255, 0.81);
  box-shadow: 5px 4px 4px black;
  border-radius: 5px; }
  .SignIn input {
    height: 45px;
    font-size: 25px;
    border: 1px solid black; }
  .SignIn input[type="text"]:nth-of-type(1) {
    border-bottom: none; }
  .SignIn span {
    color: red;
    min-height: 25px; }
  .SignIn input[type="text"], .SignIn input[type="password"] {
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.817); }
  .SignIn .signin {
    display: grid;
    grid-template-columns: 90px 30px 1fr;
    height: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgba(255, 255, 255, 0.81); }
    .SignIn .signin label {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding-left: 10px; }
    .SignIn .signin input[type="submit"] {
      background: #1d1d1d;
      color: white;
      transition: 0.3s;
      height: 100%; }
      .SignIn .signin input[type="submit"]:hover {
        background: #CC1B47; }
  .SignIn .links {
    display: flex;
    height: 50px;
    border: 1px solid black; }
    .SignIn .links a {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: rgba(255, 255, 255, 0.81); }
      .SignIn .links a:hover {
        color: white;
        background: #CC1B47; }
      .SignIn .links a:visited {
        color: black; }
      .SignIn .links a:nth-of-type(1) {
        border-right: 1px solid black; }
