$accent: #CC1B47;
@mixin link-styles {
  display: flex;
  height: 50px;
  border: 1px solid black;
  a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.81);    

    &:visited {
      color: black;
    }
    &:hover {
      color: white;
      background: $accent;
    }
    &:nth-of-type(1) {
      border-right: 1px solid black;
    }
  }
}

.SignUp {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr;
  margin: 50px auto 0px;
  padding: 0px 20px 20px;
  background: rgba(255, 255, 255, 0.81);
  box-sizing: content-box;
  box-shadow: 5px 4px 4px black;  
  border-radius: 5px;


  span {
    color: red;
    min-height: 25px;
  }

  input {
    height: 45px;
    font-size: 25px;
    border: 1px solid black;
    &:nth-of-type(2) {
      border-left: none;
    }
  }

  input[type="text"], input[type="password"], input[type="checkbox"], label {
    padding-left: 10px;  
  }

  input[type="submit"] {
    background: rgb(29, 29, 29);
    color: white;
    transition: 0.3s; 
    border-bottom: none;
    &:hover {
      background: $accent;
    }
  }

  .name {
    display: flex;
    input {
      width: 50%;
    }
  }

  .pass {
    display: grid;
    grid-template-columns: 90px 50px repeat(2, 230px);
    height: 40px;
    background-color: rgba(255, 255, 255, 0.817);
    border-left: 1px solid black;
    border-right: 1px solid black;

    label {
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    input {
      border: none;
      height: 100%;
      &[type="text"], &[type="password"] {
        border-left: 1px solid black;
      }
    }

    input[type="checkbox"] {
      width: 20px;
    }
    a {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-of-type(1) {
        border-right: 1px solid black;
      }
    }
  }

  .links {
    @include link-styles;
  }
}